<div class="row">
  <!-- Result List -->
  <div class="large-8 columns">
    <%= render partial: 'taxis/partials/list_taxis', locals: { taxis: @taxis_results } %>
  </div>

  <!-- Search Form -->
  <div class="large-4 columns">

  </div>

</div>