<ul class="orbit-style" data-orbit >
  <li class="active">
    <%= image_tag 'home/slide1.png', alt: 'slide1', class: 'image-orbit th' %>
  </li>
  <li>
    <%= image_tag 'home/slide2.png', alt: 'slide2' ,class: 'image-orbit th '%>
  </li>
  <li>
    <%= image_tag 'home/slide3.png', alt: 'slide3' , class: 'image-orbit th'%>
  </li>
  <li>
    <%= image_tag 'home/slide4.png', alt: 'slide4', class: 'image-orbit th' %>
  </li>
</ul>