<div class="row" id="status_line">
  <div class="large-12 columns">
    <div id="progress">
      <ul>
        <li class="<%= search_results %>">
          <span class="before"></span>
          <a href="#">Search Results</a>
          <span class="ticks"></span>
        </li>
        <li class="<%= optional_extras%>">
          <span class="before"></span>
          <a href="#">Optional Extras</a>
          <span class="ticks"></span>
        </li>
        <li class="<%= payment %>">
          <span class="before"></span>
          <a href="#">Payment & Confirmation</a>
          <span class="ticks"></span>
        </li>
      </ul>
    </div>
  </div>
</div>