<table style="border-collapse: collapse !important;">
  <thead>
  <tr>
    <th>Service ID</th>
    <th>Date</th>
    <th>Return Date</th>
    <th>Taxi</th>
    <th>Type of Trip</th>
    <th>Luggage</th>
    <th>Pick-Up</th>
    <th>Drop-Off</th>
    <th>Price</th>
    <th>Special Requests</th>
  </tr>
  </thead>
  <tbody>
  <% taxis.each do |taxi_reservation| %>
      <%= render partial: 'home/partials/line_reservation', locals: { service: taxi_reservation } %>
  <% end %>
  </tbody>
</table>