// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-orbit{
  margin:0 auto;
}
.orbit-style{
  background-color:gray;
  height:225px !important;
}
.logo-topbar{
  margin-left:5%;
  height:47px;
  width:125px;
}
/*----- Tabs -----*/
.tabs{
  width:100%;
  display:inline-block;
  margin-top:2%;
}
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after{
  display:block;
  clear:both;
  content:'';
}
.tab-links li{
  margin:0 0 -20px 0;
  float:left;
  list-style:none;
}
.tab-links a{
  padding:10px 50px;
  display:inline-block;
  /*border-radius*/
  -webkit-border-radius:10px 10px 0 0;
  -moz-border-radius:10px 10px 0 0;
  border-radius:10px 10px 0 0;
  background:#7FB5DA;
  font-size:16px;
  font-weight:600;
  color:#ffffff;
  /*transition*/
  -webkit-transition:all linear 0.15s;
  -moz-transition:all linear 0.15s;
  -o-transition:all linear 0.15s;
  transition:all linear 0.15s;
}
.tab-links a:hover{
  background:#a7cce5;
  text-decoration:none;
}
li.active a, li.active a:hover{
  background:#5d82ba;
  color:#ffffff;
}
/*----- Content of Tabs -----*/
.tab-content{
  padding:6px 6px 6px 6px;
  /*border-radius*/
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  /*box-shadow*/
  -webkit-box-shadow:1px 1px 5px 3px rgba(0, 0, 0, 0.48);
  -moz-box-shadow:1px 1px 5px 3px rgba(0, 0, 0, 0.48);
  box-shadow:1px 1px 5px 3px rgba(0, 0, 0, 0.48);
  border:1px solid rgba(0, 0, 0, 0.56);
  background:rgba(67, 75, 109, 0.71);
}
.tab{
  display:none;
}
.tab.active{
  display:block;
}
