// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.fieldset-border{
  border:1px solid #999;
  border-radius:8px;
  box-shadow:0 0 10px #999;
}