.type-trip-align {
  line-height: 3em;
  text-align: center;
}

.time-select {
  width: 130px;
}

.input-center {
  text-align: center;
  background-color: #D5D5D5 !important;
  border: solid 1px #FFFFFF !important;
}

.span-align {
  padding: 2% 0 2% 5%;
}

.taxi{
  border: solid 1px grey;
  background-color: gainsboro;
  margin-top: 2% !important;
  border-radius: 10px;
}

.taxi-info-div{
  padding-top: 5%;
  text-align: center;
}

.taxi-info{
  padding-top: 8%;
  padding-right: 3%;
}

.taxi-text-color{
  color: midnightblue;
}
.taxi-image{
  box-shadow: 6px 0px 10px #999;
}