.type-trip-align {
  line-height: 3em;
  text-align: center;
}

.time-select{
  width: 130px;
}

.input-center{
  text-align: center;
  background-color: #D5D5D5 !important;
  border: solid 1px #FFFFFF !important;
}