<script>
  $('select#pick_city').attr("disabled",false);
</script>
<!-- status bar -->
<%= render 'car/partials/progress_status', search_results: 'active',optional_extras:'next',payment:'next',confirmation:'last next' %>

<!-- end of status bar -->

<div class="row" id="results_main_container">

  <!-- left bar search -->
  <%= render 'car/partials/search_box_results', locations: @locations, ids:session[:service_params] %>
  <!-- end left bar search -->

  <!-- right results search -->
  <%= render 'car/partials/results_list', car_list: @list_selected_subsidiary ,other_agencies_list:@other_agencies_list %>
  <!-- end right results search    -->

</div>
