<div class="row" id="status_line">
  <div class="large-12 columns">
    <div id="progress">
      <ul>
        <li class="frist passed">
          <span class="before"></span>
          <a href="#" >Search Results</a>
          <span class="ticks"></span>
        </li>
        <li class="active">
          <span class="before"></span>
          <a href="#">Optional Extras</a>
          <span class="ticks"></span>
        </li>
        <li class="next">
          <span class="before"></span>
          <a href="#">Payment</a>
          <span class="ticks"></span>
        </li>
        <li class="last next">
          <span class="before"></span>
          <a href="#">Confirmation</a>
          <span class="ticks"></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row" id="results_main_container">

  <!-- left bar search -->
  <%= render 'car/partials/search_box_results', locations: @locations, ids:session[:service_params] %>
  <!-- end left bar search -->

  <div class="large-9 columns" >

    <%= render 'car/partials/service_extras' %>

  </div>

</div>